body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.icon-button {
    background-color: RGBA(42, 42, 42, 1.00);
    border-radius: 5.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 5.6rem;
    line-height: 5.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 5.6rem;
    margin: -2.8rem;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 5.6rem;
    left: 0;
    line-height: 5.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 5.6rem;
    z-index: 10;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.card-deck-wrapper .card {
    padding-bottom: 50px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

textarea {
    resize: none;
}

.group-idea {
    font-size: 1.5rem;
}

.looking-for {
    background-color: rgba(135, 181, 0, 1.00);
}

.not-looking {
    background-color: RGBA(220, 83, 73, 1.00);
}

.bootstrap-tagsinput .tag {
    background-color: black;
}

.modal-content {
    overflow: hidden;
}

#registerFailModal .modal-header {
    padding: 5px;
}

#registerSuccessModal .modal-header {
    padding: 5px;
}

#registerSuccessModal .modal-header {
    background-color: RGBA(154, 194, 97, 1.00);
}

#registerFailModal .modal-header {
    background-color: RGBA(220, 83, 73, 1.00);
}

#registerFailModal .modal-footer {
    padding: 5px;
}

#registerSuccessModal .modal-footer {
    padding: 5px;
}

#generalFailModal .modal-header {
    padding: 5px;
}

#generalSuccessModal .modal-header {
    padding: 5px;
}

#generalSuccessModal .modal-header {
    background-color: RGBA(154, 194, 97, 1.00);
}

#generalFailModal .modal-header {
    background-color: RGBA(220, 83, 73, 1.00);
}

#generalSuccessModal .modal-footer {
    padding: 5px;
}

#generalFailModal .modal-footer {
    padding: 5px;
}

.team-container {
    border: 1px solid RGBA(230, 230, 230, 1.00);
    margin-top: 10px;
    padding: 30px;
    border-radius: 7px;
}

.myteam-members {
    display: inline-block;
}

.myteam-captain {
    margin-bottom: 0;
}

.team-container textarea {
    display: inline-block;
    width: 70%;
}