<% include ./partials/header %>
<% if ( user ) { %>

<div class="container mt-2">
    <div class="jumbotron">
        <h3 class="display-4">Hello, <span class="font-weight-bold text-capitalize"><%= user.first_name %>!</span></h3>
        <p class="lead">Welcome to MTA Hack Matching Platform.</p>
        <hr class="my-4">
        <p>What do you want to do?</p>
        <p class="lead">
            <button type="button" class="btn btn-primary btn-lg btn-block"
                    onclick="location.href = '/<% if (user.isMember && user.email !== team.admin_email){ %>myTeam<% }else if (user.isMember) { %>updateTeam <% }else{ %>createTeam<% } %>';">
                <% if (user.isMember && user.email !== team.admin_email){ %>
                My Team
                <% }else if (user.isMember) { %>
                Update Your Team
                <% }else{ %>
                Create A Team
                <% } %>
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/mingle';">
                <% if (user.isMember) { %>
                Other Teams
                <% }else{ %>
                Join A Team
                <% } %>
            </button>
        </p>
    </div>
</div>

<% } else { %>

<div class="container mt-2" style="max-width: 650px">
    <h5 class="display-4 text-xs-center font-weight-bold">Please Sign In</h5>
    <form role="form" action="/login" method="post">
        <hr class="colorgraph">
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <a href='#'onclick="initResetPasswordModal()"><p class="form-text text-muted">Forgot password?</p></a>

        </div>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-lg-6 mb-1">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
            </div>
            <div class="col-lg-6 mb-1">
                <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
            </div>
        </div>
    </form>
    <% for (var i = 0; i < messages.length; i++) { %>
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap! </strong><%= messages[i] %>
    </div>
    <% } %>
</div>

<% } %>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="display: inline-block" id="resetPassLabel">Reset Your Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="forgotEmailInput">Email address</label>
                    <input type="email" class="form-control" id="forgotEmailInput" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
                <div class="alert alert-success" id="resetSucessMessage" style="display: none" role="alert">
                    <strong>Well done!</strong> Check your email, you should get instructions on how to reset your
                    password.
                </div>
                <div class="alert alert-danger" id="resetErrorMessage" role="alert" style="display: none">
                    <strong>Oh snap! </strong> <span id=resetErrorMessageText></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="forgotPasswordResetBtn">Reset</button>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>