<% include ./partials/header %>
<div class="container mt-2">
    <div class="jumbotron">
        <h3 class="display-4">Hello, <span class="font-weight-bold text-capitalize"><%= user.first_name %>!</span></h3>
        <p class="lead">Welcome to MTA Hack App!</p>
        <hr class="my-4">
        <p>What do you want to do?</p>
        <p class="lead">Soon you will have more options, dear Mentor!</p>
    </div>
</div>
<% include ./partials/footer %>